In [44]:
import pandas as pd
import re
users = pd.read_csv("https://github.com/gdv/foundationsCS/raw/master/progetti/2021/Users.csv.gz", compression = 'gzip', 
                    sep = ';', encoding = 'latin-1', escapechar='\\')
users

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [105]:
temp = users['Location'].str.split(',', expand = True)
temp[temp[1] == '']

,0,1,2,3,4,5,6,7,8
2238,deep river,,connecticut,usa,None,None,None,None,None
4468,guadalajara,,jalisco,mexico,mexico,None,None,None,None
5412,ranfurly,,central otago,new zealand,None,None,None,None,None
5998,victoria,,british columbia,canada,None,None,None,None,None
6737,south portland,,maine,usa,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...
272215,hedgesville,,west virginia,usa,None,None,None,None,None
272881,silver spring,,maryland,usa,None,None,None,None,None
275021,berkeley,,california,usa,None,None,None,None,None
275654,xiongcountry,,hebei,china,None,None,None,None,None
277753,north bend,,oregon,usa,None,None,None,None,None

In [45]:
users[['City', 'RegionState']] = users['Location'].str.split(',', expand = True, n = 1)
users.drop('Location', axis = 1, inplace = True)
users.head()

   User-ID   Age         City               RegionState
0        1   NaN          nyc             new york, usa
1        2  18.0     stockton           california, usa
2        3   NaN       moscow   yukon territory, russia
3        4  17.0        porto        v.n.gaia, portugal
4        5   NaN  farnborough     hants, united kingdom

In [46]:
users[['Region', 'Country']] = users['RegionState'].str.rsplit(',', expand = True, n = 1)
users.drop('RegionState', axis = 1, inplace = True)
users.head()

   User-ID   Age         City            Region          Country
0        1   NaN          nyc          new york              usa
1        2  18.0     stockton        california              usa
2        3   NaN       moscow   yukon territory           russia
3        4  17.0        porto          v.n.gaia         portugal
4        5   NaN  farnborough             hants   united kingdom

In [21]:
users.groupby('Region').size()

Region
                                                    3617
     ga, georgia                                       1
  65000 thailand, phitsanulok                          1
  b.c., british columbia                               1
  dunstable, bedfordshire                              1
                                                    ...
va, virginia                                           1
vic, australia, victoria                               1
vt, vermont                                            1
wi., wisconsin                                         1
Ã¢Ã¥Ã°ÃµÃ®Ã¢Ã¼Ã¥ 49-1, ÃªÃ Ã«Ã³Ã¦Ã±ÃªÃ Ã¿ Ã®Ã¡Ã«       1
Length: 6938, dtype: int64

In [47]:
users['Region'] = users['Region'].str.replace('\d+', '')
users

C:\Users\cafe6\AppData\Local\Temp/ipykernel_23468/1723282750.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  users['Region'] = users['Region'].str.replace('\d+', '')

        User-ID   Age         City            Region          Country
0             1   NaN          nyc          new york              usa
1             2  18.0     stockton        california              usa
2             3   NaN       moscow   yukon territory           russia
3             4  17.0        porto          v.n.gaia         portugal
4             5   NaN  farnborough             hants   united kingdom
...         ...   ...          ...               ...              ...
278853   278854   NaN     portland            oregon              usa
278854   278855  50.0       tacoma        washington   united kingdom
278855   278856   NaN     brampton           ontario           canada
278856   278857   NaN    knoxville         tennessee              usa
278857   278858   NaN       dublin               n/a          ireland

[278858 rows x 5 columns]

In [23]:
users.groupby('Region').size()

Region
                                                 3643
     ga, georgia                                    1
   thailand, phitsanulok                            1
  b.c., british columbia                            1
  changshu rd.                                      1
                                                 ...
va, virginia                                        1
vic, australia, victoria                            1
vt, vermont                                         1
wi., wisconsin                                      1
Ã¢Ã¥Ã°ÃµÃ®Ã¢Ã¼Ã¥ -, ÃªÃ Ã«Ã³Ã¦Ã±ÃªÃ Ã¿ Ã®Ã¡Ã«       1
Length: 6890, dtype: int64

In [48]:
users['Region'] = users['Region'].str.strip()

In [29]:
users.tail(150)

,User-ID,Age,City,Region,Country
278808,278809,49.0,norfolk,"england, england",united kingdom
278809,278810,62.0,perth,western australia,australia
278810,278811,19.0,Â±Â±Â¾Â©,Â±Â±Â¾Â©,china
278811,278812,50.0,frazer,pennsylvania,usa
278812,278813,NaN,phoenix,arizona,usa
278813,278814,35.0,san jose,california,usa
278814,278815,56.0,portland,oregon,usa
278815,278816,NaN,athens,ohio,usa
278816,278817,60.0,urbandale,iowa,usa
278817,278818,15.0,allentown,pennsylvania,usa
278818,278819,32.0,surfside beach,texas,usa
278819,278820,59.0,ninety six,south carolina,usa
278820,278821,70.0,clarence,new york,usa
278821,278822,30.0,soria,soria,spain
278822,278823,NaN,new westminster,british columbia,canada
278823,278824,41.0,madison,new jersey,usa
278824,278825,NaN,portland,oregon,usa
278825,278826,26.0,san francisco,california,usa
278826,278827,NaN,schaumburg,illinois,usa
278827,278828,NaN,germantown,illinois,usa
278828,278829,NaN,boise,idaho,usa
278829,278830,28.0,springield,virginia,usa
278830,278831,NaN,anchorage,alaska,usa
278831,278832,62.0,new smyrna beach,florida,usa
278832,278833,25.0,hanoi,australian capital territory,vietnam
278833,278834,NaN,essen,england,germany
278834,278835,18.0,karachi,sindh,pakistan
278835,278836,47.0,des moines,washington,usa
278836,278837,NaN,taiyuan,shanxi,china
278837,278838,15.0,massillon,ohio,usa
278838,278839,NaN,austin,texas,usa
278839,278840,45.0,encinitas,california,usa
278840,278841,NaN,llangollen,denbighshire county,united kingdom.
278841,278842,NaN,perth,western australia,australia
278842,278843,28.0,pismo beach,california,usa
278843,278844,28.0,st. paul,minnesota,usa
278844,278845,NaN,jÃ¤rvenpÃ¤Ã¤,uusimaa,finland
278845,278846,23.0,toronto,ontario,canada
278846,278847,NaN,brooklyn,new york,usa
278847,278848,NaN,kÃ¶ln,nordrhein-westfalen,germany
278848,278849,23.0,georgetown,ontario,canada
278849,278850,NaN,sergnano,lombardia,italy
278850,278851,33.0,dallas,texas,usa
278851,278852,32.0,brisbane,queensland,australia
278852,278853,17.0,stranraer,n/a,united kingdom
278853,278854,NaN,portland,oregon,usa
278854,278855,50.0,tacoma,washington,united kingdom
278855,278856,NaN,brampton,ontario,canada
278856,278857,NaN,knoxville,tennessee,usa
278857,278858,NaN,dublin,n/a,ireland

In [32]:
users.groupby('Region').size()

Region
                     3643
"                       2
" n/a                   1
" n/a"                  1
""n/a"                  2
                     ...
Ã¸stjylland             8
Ã¸stlandet              1
Ã½stanbul               6
Ã½stanbul/anadolu       1
Ã½Ã§ anadolu            2
Length: 6850, dtype: int64

In [50]:
users['Region'] = users['Region'].str.replace('^,\s*', '')

C:\Users\cafe6\AppData\Local\Temp/ipykernel_23468/1398716701.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  users['Region'] = users['Region'].str.replace('^,\s*', '')

In [51]:
list(users['Region'].unique())

['new york',
 'california',
 'yukon territory',
 'v.n.gaia',
 'hants',
 'dc',
 'ontario',
 'tennessee',
 'wisconsin',
 'victoria',
 'barcelona',
 'iowa',
 'alberta',
 'new mexico',
 'virginia',
 'rio de janeiro',
 '',
 'pennsylvania',
 'alabama',
 'thueringen',
 'nrw',
 'washington',
 'illinois',
 'baden-wuerttemberg',
 'alaska',
 'n/a',
 'oregon',
 'england',
 'quebec',
 'lazio',
 'north carolina',
 'mÃ©xico city',
 'veneto',
 'rome',
 'niedersachsen',
 'kentucky',
 'wyoming',
 'friuli venezia giulia',
 'rhone',
 'saskatchewan',
 'massachusetts',
 'british columbia',
 'missouri',
 'south carolina',
 'texas',
 'georgia',
 'tehran',
 'auckland',
 'colorado',
 'idaho',
 'arizona',
 'oklahoma',
 'indiana',
 'v.n. gaia',
 'd.f.',
 'ohio',
 'michigan',
 'hessen',
 'vermont',
 'nord',
 'minnesota',
 'nebraska',
 'noord-brabant',
 'ge',
 'maryland',
 'florida',
 'australian capital territory',
 'kansas',
 'scotland',
 'islam',
 'northern territory',
 'overijssel',
 'nord of france',
 'abruzzo',
 'lombardia',
 'lisboa',
 'delaware',
 'chiapas',
 'montana',
 'sÃ£o paulo',
 'central',
 'london',
 'punjab',
 'sindh',
 'fryslÃ¢n',
 'porto',
 'louisiana',
 'brussels',
 'berlin',
 'maharashtra',
 'selangor darul ehsan',
 'bayern',
 'sharjah',
 'ile de france',
 'bremen',
 'selangor',
 'lleida',
 'sachsen-anhalt',
 'bogota',
 'bucks',
 'delhi',
 'pirkanmaa',
 'surrey',
 'queensland',
 'rogaland',
 'athens',
 'noord-holland',
 'castilla y leÃ³n',
 'kuwait',
 'quit',
 'lkj',
 '"n/a"',
 'jylland',
 'rheinland-pfalz',
 'pakistan',
 'emilia romagna',
 'new south wales',
 'sachsen',
 'cambridgeshire',
 'maine',
 'manitoba',
 'paris',
 'hawaii',
 'uusimaa',
 'jlk',
 'new jersey',
 'stockholm',
 'bukidnon',
 'mittelland',
 'buenos aires',
 'vizcaya',
 'cebu',
 'toscana',
 'turkey',
 'connecticut',
 'minas gerais',
 'uk',
 'beira litoral',
 'europe',
 'b.c.s.',
 'vienna',
 'klang',
 'catalunya',
 'west virginia',
 'east sussex',
 'calabria',
 'almada',
 'wellington region',
 'fct abuja',
 'madrid',
 'yorkshire',
 'melbourne, victoria',
 'campania',
 'north dakota',
 'norfolk',
 'italy',
 'luzon',
 'nevada',
 'arkansas',
 'hamburg',
 'utah',
 'argentina',
 'hcm',
 'south dakota',
 'hanoi',
 'alexandria',
 'gabes',
 'douro litoral',
 'prince edward island',
 'khozestan',
 'la rioja',
 'aragÃ³n',
 'south australia',
 'uzbekistan',
 'doha',
 'bologna',
 'piemonte',
 'nova scotia',
 'raqqa',
 'nordrhein-westfalen',
 'beijing',
 'marche',
 'rhode island',
 'mississippi',
 'bahia',
 'provence',
 'steiermark',
 'schleswig-holstein',
 'singapore',
 'rhone-alpes',
 'wales',
 'western australia',
 'manawatu',
 'galicia',
 'alicante',
 'Ã¶stergÃ¶tland',
 'haryana',
 'kerala',
 'jeddah',
 'west bengal',
 'uttar pradesh',
 'pune',
 'nad',
 'isl',
 'greater london',
 'zuid holland',
 'baselland',
 'df',
 'aveiro',
 'karnataka',
 'south canterbury',
 'ourense',
 'zurich',
 'aragon',
 'asd',
 'fujian',
 'nebr',
 'braga',
 'khartoum',
 'santa cruz  de tenerife.-canarias',
 'sechelt, british columbia',
 'southeast asia',
 'cantabria',
 'plata',
 'rivers',
 'mo, missouri',
 'northwest territories',
 'puglia',
 'navarra',
 'indonesia',
 'space',
 'bucharest',
 'germany',
 'worcestershire',
 'vienne',
 'lancs',
 'newfoundland and labrador',
 'isere',
 'sicilia',
 'bangkok',
 'normandie',
 'national capital region',
 'lancashire',
 'santiago,metropolitana',
 'guadalajara',
 'spain',
 'leinster',
 'para',
 'east midlands',
 'asturias',
 'nsw',
 'canterbury',
 'Ã®le de france',
 'west sussex',
 'liguria',
 'guerrero',
 'dublin',
 'zÃ¼rich',
 'canarias',
 'languedoc-roussillon',
 'granada',
 'cÃ¡diz',
 'ciudad real',
 'county dublin',
 'espaÃ±a',
 'buckinghamshire',
 'sao paulo',
 'galiza',
 'madriz',
 'loire-atlantique',
 'zambezia',
 'basilicata',
 'kenitra',
 'baden-wÃ¼rttemberg',
 'bretagne',
 'capital federal',
 'perak',
 'lucca',
 'polvamaa',
 'noord holland',
 'valencia',
 'istanbul',
 'noordholland',
 'cundinamarca',
 'new hampshire',
 'midwest nigeria',
 'zuid-holland',
 'castilla-leÃ³n',
 'vale of glamorgan',
 'romania',
 'bolivar',
 'staffordshire',
 'greymouth',
 'groningen',
 'cheshire',
 'utrecht',
 'ankara',
 'rafelbunyol',
 'puebla',
 'a coruÃ±a',
 'nh',
 'guangdong province',
 'north holland',
 'dakahlia, mansoura',
 'none',
 'mecklenburg-vorpommern',
 'santiago',
 'serbia',
 'bavaria',
 'taipei',
 'pomorskie',
 'copenhagen',
 'na',
 'hubei',
 'd.c., dc',
 'bratislava',
 'brandenburg',
 'caracas',
 'san jose',
 'las palmas',
 'gipuzkoa',
 'maharshtra',
 'jipofuaop',
 'sevilla',
 'tortola',
 'ondo/nigeria',
 'shananxi',
 'west yorkshire',
 'wilayah perseketuan',
 'ethiopia',
 'shanghai',
 'lagos',
 'lisbon',
 'namur',
 'rio negro',
 'new brunswick',
 'guangdong',
 'andalucia',
 'noord brabant',
 'osun state',
 'ireland',
 'selangor d.e.',
 'east java',
 'midlands',
 'kinda',
 'mexico',
 'sg',
 'trentino alto adige',
 'illes balears',
 'oyo',
 'umbria',
 'jawa tengah',
 'bistrita n',
 'albacete',
 'malaga',
 'oxfordshire',
 'silesia',
 'haute-garonne',
 'kuala lumpur',
 'vrancea',
 'tottori',
 'arad',
 'pontevedra',
 'jharkhand',
 'up',
 'ag',
 'jawa barat',
 'worcestershire, england',
 'woluwe saint pierre',
 'metro manila',
 'alsace',
 'algarve',
 'akershus',
 'republic of ireland',
 'taiwan',
 'baleares',
 'shizuoka',
 'tasmania',
 'burgos',
 'mato grosso',
 '"n/a")',
 'wicklow',
 'rio grande do sul',
 'vlaams-brabant',
 'galway',
 'cataluÃ±a',
 'tirol',
 'tigray',
 'cumbria',
 'wellington',
 'graubuenden',
 'ca',
 'penang',
 'vÃ¤rmland',
 'obwalden',
 'sinaloa',
 'kent',
 'pÃ¤ijÃ¤t-hÃ¤me',
 'travelling',
 'primorsko-goranska ?upanija',
 'lower saxony',
 'oberoesterreich',
 'west midlands',
 'pampanga',
 'herault',
 'united kingdom',
 'friesland',
 'ile-de-france',
 'Ã¶land',
 'hampshire',
 'castilla y leon',
 'portugal',
 'virgin islands',
 'alabama, gambia',
 'udine',
 'kwazulu-natal',
 'sandton',
 'lÃ¤nsi-suomen lÃ¤Ã¤ni',
 'newfoundland',
 'girona',
 'assam',
 'pungab',
 'holguÃ\xadn',
 'minho',
 'antigua    and   barbuda',
 'loures-apelaÃ§Ã£o',
 'tarragona',
 'styria--austria',
 'euskadi',
 'pais vasco /vizcaya',
 'lodz',
 'italia',
 'torino',
 'andalucÃ\xada',
 'alpes maritimes',
 '?lÂ¹sk',
 'puerto rico',
 'las palmas, spain',
 'new zealand',
 'salamanca',
 'gloucestershire',
 'attiki',
 'mazowieckie',
 'mendoza',
 'rigas rajons',
 'somerset',
 'paisos catalans',
 'venezia',
 'sintra',
 'channel islands',
 'kent, england',
 'netherlands',
 'maÂ³opolska',
 'mogilev oblast',
 'aargau',
 'molise',
 'non applicable',
 'attica',
 'mÃ¡laga',
 'bali',
 'jakarta',
 'marlborough',
 'baden-wÃ¼rtemberg',
 'cartago',
 'santander (cantabria)',
 'tehran/iran',
 'sharkia',
 'addu atoll',
 'cairo',
 'flevoland',
 'leon',
 'sweden',
 'central israel',
 'south america',
 'coimbra',
 'fife',
 'risaralda',
 'liaoning',
 'valladolid',
 'distrito federal',
 'bosnian federation',
 'wilts, england',
 'austria, bayern',
 'Ã¥land islands',
 'villa clara',
 'the land of santa claus',
 'switzerland',
 'rhÃ´ne-alpes',
 'vaucluse',
 'minnasota',
 'cÃ³rdoba',
 'wirral',
 'vÃ¤sterbotten',
 'torres novas',
 'gelderland',
 'jalisco',
 'rm',
 'hi, hawaii',
 'negros occidental',
 'var',
 'kedah',
 'salzburg',
 'oslo',
 'Ã¡lava',
 'alentejo',
 'connaught',
 'nuevo leon',
 'bay of plenty',
 'kelantan',
 'yvelines',
 'bizkaia',
 'amman',
 'western',
 'ticino',
 'dutch',
 'ii region',
 'chihuahua',
 '(mi)',
 'ae',
 'cleveland',
 'dorset',
 'luxembourg',
 'eastern province',
 'florence',
 'san juan',
 'zaragoza',
 'paÃ\xads vasco',
 'sind',
 'hertfordshire',
 'north island',
 'bay of pleanty',
 'zeeland',
 'gujarat',
 'bombay',
 'zulia',
 'yucatÃ¡n',
 'merida',
 'murcia',
 'tx',
 'castellÃ³n',
 'coyoacÃ¡n',
 'milano',
 'tamil nadu',
 'franche-comtÃ©',
 'badajoz',
 'b-w',
 'sonora',
 'bern',
 'region metropolitana',
 'hordaland',
 'mla',
 'pais vasco',
 'wien',
 'alessandria',
 'niederoesterreich',
 'catalonia',
 'northholland',
 '-',
 'Ã¶zel inanc lisesi',
 'la coruÃ±a',
 'basel-stadt',
 'maharashtra, heard of it? :o)',
 'mie',
 'tx, texas',
 'mallorca',
 'liÃ¨ge',
 'tanzania, morogoro',
 'kÃ¤rnten',
 'indre et loire',
 'dhaka',
 'comunidad valenciana',
 'Â¨n/aÂ¨',
 'leicestershire',
 'north yorkshire, england',
 'northern ireland',
 'shropshire',
 'lanchou',
 'devon',
 'otago',
 'cearÃ¡',
 'nord-pas de calis',
 'kowloon',
 'nordreihn-westfalen',
 'county galway',
 'ar',
 'distrito nacional',
 'alt urgell',
 'ciudad autonoma de buenos aires',
 'las palmas de gc',
 'bas-rhin',
 'asturies',
 'panama',
 'genÃ¨ve',
 'albania',
 'estado de mÃ©xico',
 'rhone alpes',
 'yorks',
 'mÃ©xico',
 'galÃ\xadcia',
 'leiria',
 'mi',
 'nuevo leÃ³n',
 'cordoba',
 'johor',
 'oaxaca',
 'chiba',
 'kanagawa-ken',
 'solothurn',
 'isla de la juventud',
 'northland',
 'sÃ¶dermalm',
 'dubai',
 'highland',
 'barbate',
 'heredia',
 'islas canarias',
 'st.gallen',
 'stockholms lÃ¤n',
 'oxon',
 'prahova',
 'jalisco, mexico',
 'oberÃ¶sterreich',
 'sumut',
 'soria',
 'paca',
 'santa fe',
 'parma',
 'ferrara',
 'neamt',
 'derbyshire',
 'rhÃ´ne',
 'montevideo',
 'saarland',
 'sardegna',
 'stroud',
 'tucumÃ¡n',
 'a coruÃ±agalicia',
 'pr, puerto rico',
 'la uruca,',
 'jilin province',
 'serbia, voivodina',
 'varmia',
 'roma',
 'valle d`aosta',
 'paranÃ¡',
 'metropolitana',
 'herts',
 'shaanxi',
 'capital',
 'il lazio',
 'sp',
 'cuneo',
 'ile de france (paris)',
 'valparaiso',
 'siena',
 'modena',
 'goiÃ¡s',
 'saxony',
 'pv',
 'federal district',
 'middlesex',
 'vaud',
 'gauteng province',
 'mid glam',
 'mdc, francisco morazÃ¡n',
 'faro/algarve',
 'alava',
 'tyne and wear, england',
 'barreiro',
 'pyrÃ©nÃ©es atlantiques',
 'sÃ¸r-trÃ¸ndelag',
 'valÃ¨ncia',
 'geneva',
 'shan dong',
 'moscow',
 'nl',
 'parana',
 'midlothian',
 'tyrol',
 'friesland, netherlands',
 'catania',
 'nei meng gu',
 'paÃ\xads valenciÃ',
 'islas balears',
 'sachsen - anhalt',
 'nottinghamshire',
 'west java',
 'cluj',
 'federal territory',
 'melaka',
 'bo',
 'dolny slask',
 'yesilyurt',
 'regiÃ²n metropolitana',
 'guipuzcoa',
 'reinland-pfalz',
 'santa cruz de tenerife',
 'veracruz',
 'pays de la loire',
 'francisco morazan',
 'acra',
 'wp',
 'huelva',
 'qld',
 'kosicky kraj',
 'manila',
 'waikato',
 'cavite',
 'italy/roma/lazio',
 'greater manchester',
 'rotterdam',
 'taranaki',
 'baden wuerttenberg',
 'wa., washington',
 'n /a',
 'central otago',
 'elvas',
 'jiangxi',
 'napoli',
 'lot',
 'prague',
 'milky way',
 'oppland',
 'ziud holland',
 'bruxelles-capitale',
 'poitou-charentes',
 'tuscany',
 'dolj',
 'choongbuk',
 'isle of wight',
 'sector',
 'jiangsu',
 'bihor',
 'limburg',
 'jiangsu province',
 'limousin',
 'baja california',
 'city, mexico, city',
 'north otago',
 'iran',
 'ostane tehran',
 'eme arrond.',
 'charente',
 'north yorkshire',
 'west australia',
 's e england',
 'spain/basque country',
 'no province',
 '/',
 'estremadura',
 'wilayah persekutuan',
 'santarÃ©m',
 'jaen',
 'serres',
 'east anglia',
 'guatemala',
 'co. antrim',
 'frederiksborg amt',
 'glarus',
 'poitou',
 'espinho',
 'austria',
 'southwest finland',
 'kar',
 'alabama, alabama',
 'france',
 'guangxi',
 'eire',
 'n',
 'henan provine',
 'ille et vilaine',
 'renfrewshire',
 'keighley, west yorkshire',
 'baixo-alentejo',
 'castilla-leon',
 'almeria',
 'extremadura',
 'rizal',
 'nador',
 'guanacaste',
 'lombardy',
 '"n/a".',
 'sa',
 'padova',
 'sussex (haha, you listed stroud!)',
 'mo',
 'berne',
 'guipÃºzcoa',
 'gran canaria',
 'surrey, england',
 'eg',
 'nariÃ±o',
 'france, alsace, bas rhin',
 'jaÃ©n',
 'israel',
 'moscow region',
 'kazakhstan',
 'geneva canton',
 'kl',
 'spain/baleares/mallorca',
 'tianjin',
 'skÃ¥ne',
 'Â¹Ã£Â¶Â«',
 'beja',
 'co wicklow',
 'egypt',
 'kazakstan',
 'pays de loire',
 'aga',
 'euskal herria',
 'caceres',
 'stockport',
 'eritrea',
 'grand turk',
 'sichuan',
 'cuenca',
 'south yorkshire',
 'stockton-on-tees',
 'moscow area',
 'damascus',
 'croydon',
 'p.r, puerto rico',
 'ceuta',
 'balearic islands',
 'toledo',
 'sÃ¶dermanland',
 'baselstadt',
 'vÃ¤sternorrland',
 'northumberland',
 'antwerp',
 'canberra',
 'jabar',
 'traveling nurse do  months at a time all over us',
 'centre',
 'slovenia',
 'west lothian',
 'abu dhabi',
 'west-vlaanderen',
 'bolivia',
 'apo ae',
 'thailand',
 'granada, granada',
 'london, england',
 'hampstead',
 'gotland',
 'sharon',
 'aÃ§ores',
 'provincia invisible',
 'san josÃ©',
 'lomabardia',
 'negeri sembilan',
 'ms , mississippi',
 'guandong',
 'helsinki',
 'north',
 'kozastan',
 'india',
 'viana do castelo',
 'charleroi',
 'rajasthan',
 'uppland',
 'cornwall',
 'kena',
 'catamarca',
 'berkshire',
 'feijÃ³',
 'sÃ£o joÃ£o do estoril',
 'mp',
 'carabobo',
 'copenhagen county',
 'vorarlberg',
 'grandola',
 'zhejiang',
 'jersey city',
 'western cape',
 'hunan',
 'brighton',
 'noord',
 'thenorth',
 'lara',
 'reboleira',
 'vila viÃ§osa',
 'lllll',
 'santa catarina',
 'fribourg',
 'paraguay',
 'queretaro',
 'mizoram',
 'khomas region',
 'paris-madrid',
 'seville',
 'aragua',
 'setubal',
 'kuah',
 'bulacan',
 'meten meerzorg',
 'mumbai',
 'alcobaÃ§a',
 'tamilnadu',
 'andhra pradesh',
 'edo. miranda',
 'tyneside',
 'zuerich',
 'texas, texas',
 'arizona, arizona',
 'chelyabinsk region',
 'western highlands',
 'westland',
 'tiruchirappalli',
 'alba',
 'northamptonshire',
 'n/j',
 'nordjylland',
 'anhui',
 'basel',
 'greece',
 'co. dublin',
 'philppines',
 'moldova',
 'jogjakarta',
 'brazil',
 'nayarit',
 'los lagos',
 'bergamo, lombardia',
 'bohol',
 'minho-braga',
 'praga',
 'valcea',
 'vila nova de gaia',
 'rheinland',
 'rs',
 'region metropolitana santiago',
 'barcelona (catalunya)',
 'county sligo',
 'dc, dc',
 'leÃ³n',
 'philadelphia',
 'bg',
 'iasi',
 'bergamo',
 'strathclyde',
 'jewish autonomic oblast',
 'mazowsze',
 'suffolk',
 'morelos',
 'venezuela',
 'manchester',
 'hk',
 'w.midlands',
 'kebbi',
 'vale',
 'lodzkie',
 'gummersbach',
 'tr',
 'new delhi(india)',
 'nagaland',
 'brabant',
 'loire atlantique',
 'skane',
 'araba-basque country',
 'mn, minnesota',
 'santo domingo',
 'germany, baden-wuerttemberg',
 'lorraine',
 'southampton',
 'isle of man',
 'wielkopolska',
 'south cotabato',
 'west indies',
 'kochi-ken',
 'north karelia',
 'some place in china',
 'sc',
 'varna',
 'colorado, colorado',
 'nelson',
 'oporto',
 'lothians',
 'australia',
 'li, new york',
 'hellas',
 'westvlaanderen',
 'bayswater',
 'pordenone',
 'pais valenciano',
 'regiÃ³n metropolitana',
 'heaven',
 'macau',
 'vargas',
 'kapiti coast',
 'deinze/oost-vlaanderen/west -belgiÃ«',
 'moscow state',
 'haute savoie',
 'maroussi',
 'melbourne',
 'essex',
 'federal',
 'quezon city',
 'gbg',
 'it',
 ...]

In [76]:
temp = users[users['Region'].str.contains(',') == True]
temp

,User-ID,Age,City,Region,Country
435,436,53.0,ivanhoe,"melbourne, victoria",australia
814,815,43.0,davis bay,"sechelt, british columbia",canada
840,841,24.0,saint charles,"mo, missouri",usa
956,957,NaN,santiago,"santiago,metropolitana",chile
1459,1460,34.0,mansoura,"dakahlia, mansoura",egypt
...,...,...,...,...,...
277717,277718,62.0,colorado springs,"co 80901, colorado",usa
277753,277754,60.0,north bend,", oregon",usa
278028,278029,31.0,mansfield,"nottinghamshire, england",united kingdom
278214,278215,28.0,nelson,"motueka, nz",new zealand
278808,278809,49.0,norfolk,"england, england",united kingdom